<section id="home-slider">
  <div class="container">
    <div class="row">
      <div class="main-slider">
        <div class="slide-text">
          <h1>¡La Mejor Forma de Trabajar!</h1>
          <!--<h1>We Are Creative Nerds</h1>-->
          <p>Boudin doner frankfurter pig. Cow shank bresaola pork loin tri-tip tongue venison pork belly meatloaf short
            loin landjaeger biltong beef ribs shankle chicken andouille.</p>
          <a [routerLink]="['./contactenos']" class="btn btn-common">CONTÁCTENOS</a>
        </div>
        <img src="images/home/slider/hill.png" class="slider-hill" alt="slider image">
        <img src="images/home/slider/house.png" class="slider-house" alt="slider image">
        <img src="images/home/slider/sun.png" class="slider-sun" alt="slider image">
        <img src="images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
        <img src="images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
      </div>
    </div>
  </div>
  <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>

<br>

<section id="entry-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="row">
            <div class="col-sm-offset-2 col-sm-4">
              <p><img src="images/home/front.svg" class="img-responsive" alt=""></p>
            </div>
            <div class="col-sm-4 hidden-xs">
              <p><img src="images/home/back.svg" class="img-responsive" alt=""></p>
            </div>
          </div>
          <h1 class="title">¿Que es un Coworking?</h1>
          <p>Los espacios de coworking son oficinas compartidas en las que profesionales autónomos, teletrabajadores y
            empresarios se dan cita para trabajar, y donde los gestores del espacio intentan conectar y crear
            oportunidades profesionales y personales entre y para sus miembros. En su mayoría se trata de profesionales
            que no necesitan más que un portátil, un teléfono y una buena conexión a internet para poder realizar su
            trabajo.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="action" class="responsive">
  <div class="vertical-center">
    <div class="container">
      <div class="row">
        <div class="action take-tour">
          <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
            <h1 class="title">Beneficios de trabajar en Coworking</h1>
            <p>Deje de trabajar desde su hogar y disfrute de los beneficios de trabajar con nosotros.</p>
          </div>
          <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
            <div class="tour-button">
              <a [routerLink]="['./contactenos']" class="btn btn-common">CONTACTENOS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
            <img src="images/home/icon1.png" alt="">
          </div>
          <h2>Ambiente Profesional</h2>
          <p>Trabaje en un ambiente 100% profesional, el cual permita crecer a su negocio.</p>
        </div>
      </div>
      <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
            <img src="images/home/icon2.png" alt="">
          </div>
          <h2>Bajos costos operativos</h2>
          <p>Los costos siempre son siempre preocupación y mantener estos a lo mejor posible es una de las finalidades
            de toda empresa.</p>
        </div>
      </div>
      <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
            <img src="images/home/icon3.png" alt="">
          </div>
          <h2>Iteracción con otros</h2>
          <p>Trabajar con personas de otras empresas que realicen tareas totalmente diferentes, ofrecen ideas y puntos
            de vistas
            que pueden ayudar el negocio.</p>
        </div>
      </div>

      <div class="col-sm-push-2 col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms"
           data-wow-delay="300ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
            <img src="images/services/1.png" alt="">
          </div>
          <h2>Comodidad y Adaptación</h2>
          <p>Nos adaptamos a sus necesidades, ya se que necesite un escritorio fijo o no, una oficina virtual o solo
            necesite
            sala de reuniones o capacitaciones.</p>
        </div>
      </div>
      <div class="col-sm-push-2 col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="single-service">
          <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
            <img src="images/services/2.png" alt="">
          </div>
          <h2>Asesoría</h2>
          <p>Ademas de brindar asesoría sobre temas legales puede constar con la ayuda de los demás coworkers de manera
            inmediata.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#services-->

<section id="company-information" class="choose">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms">
        <img src="images/services/4.png" class="img-responsive" alt="">
      </div>
      <div class="col-sm-6 padding-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms">
        <h2>¿Porque trabajar en Coworking?</h2>
        <p>Lorem ipsum.</p>
        <ul class="elements">
          <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i>
            Ambiente 100% profesional.
          </li>
          <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i class="fa fa-angle-right"></i>
            Excelente ubicación.
          </li>
          <li class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"><i class="fa fa-angle-right"></i>
            No cobramos garantias.
          </li>
          <li class="wow fadeInUp" data-wow-duration="600ms" data-wow-delay="400ms"><i class="fa fa-angle-right"></i>
            Sala de reuniones de uso ilimitado.
          </li>
          <li class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms"><i class="fa fa-angle-right"></i>
            Acceso y guardania las 24 horas los 7 días.
          </li>
          <li class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms"><i class="fa fa-angle-right"></i>
            Parqueadero.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>



