<section id="page-breadcrumb">
  <div class="vertical-center sun">
    <div class="container">
      <div class="row">
        <div class="action">
          <div class="col-sm-12">
            <h1 class="title">Contactenos</h1>
            <p>Si quiere planificar una visita no dude en contactarnos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#action-->

<section>
  <div class="container">
    <div class="col-sm-12">
      <app-contact-form></app-contact-form>
    </div>
  </div>
</section>

<section id="map-section">
  <div class="container">

    <h1>También puede visitarnos y hablar personalmente</h1>
    <h3>En la siguente dirección.</h3>

    <div id="gmap"></div>
    <div class="contact-info">
      <h2>Contacto</h2>
      <address>
        <a href="mailto:info@compendiumacademy.com">
          <i class="fa fa-envelope white"></i>info@compendiumacademy.com
        </a><br>
        <a href="http://www.facebook.com/coworkingbycompendium" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i> Siguenos en Facebook
        </a><br>
        <i class="fa fa-phone"></i> +(593 2) 226 32 68
        <i class="fa fa-mobile"></i>+( 593 ) 99 643 27 23 <br>
      </address>

      <h2>Dirección</h2>
      <address>
        <i class="fa fa-map-marker"></i>Twin Towers, Oficina 1C, <br>
        Av. República del Salvador y Portugal<br>
        Quito, Pichincha, Ecuador. <br>
      </address>

    </div>
  </div>
</section>
<!--/#map-section-->
