<section id="page-breadcrumb">
  <div class="vertical-center sun">
    <div class="container">
      <div class="row">
        <div class="action">
          <div class="col-sm-12">
            <h1 class="title">Contactenos</h1>
            <p>Si quiere planificar una visita no dude en contactarnos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#action-->

<section>
  <div class="container">
    <div class="col-sm-12">
      <app-contact-form></app-contact-form>
    </div>
  </div>
</section>

<section id="map-section">
  <div class="container">

    <h1>O si prefiere...</h1>
    <h3>Puede visitarnos y hablar personalmente puede visitarnos en la siguente dirección.</h3>

    <div id="gmap"></div>
    <div class="contact-info">
      <h2>Contacto</h2>
      <address>
        E-mail: <a href="mailto:info@compendiumacademy.com">info@compendiumacademy.com</a> <br>
        Tlf: +593 (2) 226 32 68 <br>
        Cel: +593 (99) 643 27 23 <br>
      </address>

      <h2>Dirección</h2>
      <address>
        Twin Towers, Oficina 1C, <br>
        Av. República del Salvador y Portugal<br>
        Quito. <br>
        Ecuador. <br>
      </address>
    </div>
  </div>
</section>
<!--/#map-section-->
