<div class="page1">
  <section id="page-breadcrumb">
    <div class="vertical-center sun">
      <div class="container">
        <div class="row">
          <div class="action">
            <div class="col-sm-12">
              <h1 class="title">Beneficios</h1>
              <small>Conozca cómo nuestro espacio puede llenar las necesidades de su emprendimiento.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="company-information" class="padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="images/aboutus/1.png" class="img-responsive" alt="">
        </div>
        <div class="col-sm-6">

          <p>
            Nuestra oficina es un Coworking, un espacio de trabajo compartido, en donde diferentes emprendimientos se
            justan
            para lograr sus metas personales, ofrecemos un espacio tranquilo con escritorio y todos los servicios en
            donde por
            un bajo costo mensual pueden acceder a los siguientes beneficios:
          </p>
          <ul>
            <li class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms"><i class="fa fa-angle-right"></i>
              Internet de alta velocidad.
            </li>
            <li class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms"><i class="fa fa-angle-right"></i>
              Agua, café y té ilimitado.
            </li>
            <li class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms"><i class="fa fa-angle-right"></i>
              Espacio de cafeteria con microondas y nevera.
            </li>
            <li class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms"><i class="fa fa-angle-right"></i>
              Recepcionista para llamadas​, ​correspondencia y personas​ ​en horario de oficina​.
            </li>
            <li class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms"><i class="fa fa-angle-right"></i>
              Linea telefónica convencional para recepción de llamadas.
            </li>
            <li class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms"><i class="fa fa-angle-right"></i>
              Sala de reuniones de uso ilimitado.
            </li>
            <li class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms"><i class="fa fa-angle-right"></i>
              Sala de usos multiples con capacidad para ​25​​+ personas de uso ilimitado.
            </li>
            <li class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms"><i class="fa fa-angle-right"></i>
              Parqueadero.
            </li>
            <li class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms"><i class="fa fa-angle-right"></i>
              Cámaras de seguridad y guardanía 24/7.
            </li>
            <li class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms"><i class="fa fa-angle-right"></i>
              Áreas para guardar pertenencias.
            </li>
            <li class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms"><i class="fa fa-angle-right"></i>
              Disponibilidad de bodega.
            </li>
            <li class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms"><i class="fa fa-angle-right"></i>
              Escritorio fijo
            </li>
            <li class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms"><i class="fa fa-angle-right"></i>
              Acceso las 24 horas los 7 días de la semana.
            </li>
            <li class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms"><i class="fa fa-angle-right"></i>
              Ambiente tranquilo, seguro y amigable.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>Acá encontrara profesionales ​trabajando en diversos proyectos que pudieran requerir lo que ​su
            emprendimiento
            ofrece. Además no cobramos garantias y no tenemos costos extras.</p>
          <p>Le invitamos a conocer nuestra oficina y ver cómo nuestro espacio llena las necesidades de su
            emprendimiento.</p>
          <p>Estamos en la República de Salvador y Portugal, edificio Twin Towers, torre 1, planta baja, of. 1C.</p>
        </div>
        <div class="col-sm-6">
          <img src="images/aboutus/1.png" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </section>
</div>
